*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

:root{
    --primary-red:#C8102E;
    --dark:#1F2937;
    --white:#ffffff;
    --gray:#f5f5f5;
    --gold:#FBBF24;
}

body{
    overflow-x:hidden;
}

.navbar{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:fixed;
    width:100%;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,.08);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:50px;
}

.logo h3{
    color:var(--primary-red);
}

.logo span{
    font-size:12px;
    color:#777;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:var(--dark);
    font-weight:600;
}

.quote-btn{
    background:var(--primary-red);
    color:white;
    padding:14px 25px;
    border-radius:8px;
    text-decoration:none;
}